body {
    font-family: sans-serif;
}
/*CSS for navigation section*/
.logo {
    margin: 10px auto;
    width: 70%;
    text-align: center;
    font-family: Bradley HAND ITC;
    font-size: 25px;
}

.links {
    width: 100%;
    background-color: #5AAD66;
}

.links-1 {
    width: 50%;
    margin: 20px auto;
    display: flex;
    padding: 18px;
    justify-content: space-around;
}

.links-1 a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.links-1 a:hover {
    text-decoration: 2px underline darkgreen;
}




/* footer section css */
.wrapper-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #5AAD66;
    padding: 20px;
    border-radius: 10px 10px 0 0 ;
}

.links-division {
    display: flex;
    flex-direction: column;
}

.links-division a {
    text-decoration: none;
    color: black;
    padding: 5px;
    font-size: 20px;
}

.links-division a:hover {
    text-decoration: 2px underline darkgreen;
}

.content {
    display: flex;
    width: 320px;
    padding: 5px;
    line-height: 28px;
    font-size: 20px;
}

.social-medias {
    display: flex;
    justify-content: space-between;
    width: 130px;
}

.social-medias img {
    width: 60px;
    height: 60px;
}